body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header,
footer {
  /* background-color: rgba(0, 0, 0, 0.9); */
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
}

header {
  color: #f3b6d5;
}

footer {
  color: rgb(139, 205, 243);
}

/* .col {
  margin: 0 !important;
  padding: 0 !important;
} */

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  transition: 0.5s;
}

.imageWrapper {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.card-img-top:hover {
  opacity: 0.5;
}

.card-title {
  font-size: 1.3em !important;
  transition: 0.5s;
}

.card-title:hover {
  transform: scale(1.1);
}

h5 {
  font-size: 1em !important;
}

.card-footer {
  font-size: 0.9em;
  width: 100%;
  text-align: center;
}

.fill {
  flex: 1;
}

#prev-button {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 164, 45, 0.8);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  transition: 0.5s;
  width: 5%;
}

#prev-button:hover {
  background-color: rgba(255, 164, 45, 1);
  transform: scale(1.1);
}


#topic-modal .modal-content {
  background-color: rgba(255, 255, 255, 0.8);
}

#topic-modal {
  background-image: url("monkey.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#topic-modal .modal-header {
  background-color: black;
  color: #fff; /* white */
}

#cardsContainer {
  margin: 20px 10px;
}

a {
  font-variant: small-caps;
}

.card-header {
  background-color: rgb(139, 205, 243)!important;
}


.card-footer {
  background-color: #f3b6d5!important;
  height: 80px;
}

.card-body {
  height: 100px;
}

#logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px #f3b6d5 solid;
}

h1 {
  flex: 1;
}

.modal {
  background-color: rgb(139, 205, 243);
}

.btn,
.modal-header {
  background-color: #f3b6d5!important;
  border: none!important;
  color: white!important;
}

.btn:hover {
  background-color: white!important;
  border: 1px #f3b6d5 solid!important;
  color: #f3b6d5!important;
}